body{
    margin: 0;
    font-family: Arial;
}

/* Login Page Background */
.login-bg{
    background: url("bg-login.jpg") no-repeat center center/cover;
    height: 100vh;
}

/* Dashboard Background */
.dashboard-bg{
    background: url("bg-dashboard.jpg") no-repeat center center/cover;
    min-height: 100vh;
}

/* Login Box */
.login-box{
    width: 300px;
    background: rgba(255,255,255,0.9);
    padding: 20px;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.login-box input{
    width: 90%;
    padding: 8px;
    margin: 8px 0;
}

/* Dashboard */
.container{
    background: rgba(255,255,255,0.9);
    width: 80%;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}

.add-book input{
    padding: 8px;
    width: 18%;
    margin: 5px;
}


button{
    padding: 8px 12px;
    cursor: pointer;
}

/* Table */
table{
    font-size: 14px;
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td{
    border: 1px solid #333;
    padding: 10px;
    text-align: center;
}
